.neutral-100{
    color: #F8F9FA;
}
.neutral-200{
    color: #E9ECEF;
}
.neutral-300{
    color: #DEE2E6;
}
.neutral-400{
    color: #CED4DA;
}
.neutral-500{
    color: #ADB5BD;
}
.neutral-600{
    color: #6C757D;
}
.neutral-700{
    color: #495057;
}
.neutral-800{
    color: #343A40;
}
.neutral-900{
    color: #212529;
}
.primary-100{
color: #F5FEE7;
}
.primary-200{
color: #E8FEC5;
}
.primary-300{
color: #C0FA73;
}
.primary-400{
    color: #57A203;
}
.primary-500{
color: #477A11;
} 
.danger-100{
    color: #FCF1F1;
}
.danger-200{
    color: #EBA7A7;
}
.danger-300{
    color: #D74F4F;
}
.warning-100{
    color: #FEF6EC;
}
.warning-200{
    color: #F9C588;
}
.warning-300{
    color: #F38B12;
}
.success-100{
    color: #EFF8F4;
}
.success-200{
    color: #9AD1BA;
}
.success-300{
    color: #36A375;
}
.info-100{
    color: #EEF5FC;
}
.info-200{
    color: #97C3ED;
}
.info-300{
    color: #3087DB;
} 
.white{
    color: white;
}
.bg-primary-100{
    background: #F5FEE7;
}
.bg-primary-200{
    background: #E8FEC5;
}
.bg-primary-300{
    background: #C0FA73;
}

